
.admLogo2{
    max-width: 30rem;
    margin-top: 30%;
}

.formLogin{
    
    margin-top: 10%;
    padding-top: 10%;
    width: 20rem;
    text-align: center;
}

.btn-primary{
    margin-top: 1rem;
    border-radius: 15px;
    font-size: 25px;
    margin-bottom: 20px;
    
}

.crearCuenta,.soporteContacto{
    text-decoration: none;
    margin-top: 18px;
    
}

.linkPagPrincipal{
    text-decoration: none;
}